/* Settings Page Styles */
ion-item {
  --padding-start: 16px;
  --inner-padding-start: 16px;
}

ion-list {
  margin-top: 1px;
}


ion-label {
  font-weight: 200;
}

ion-radio {
  margin-right: 12px;
}
